@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400;1,700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
html
{
    font-size: 1rem;
    line-height: 24px;
    /* background-color: #f5f5fa; */
}
.grid
{
    max-width: 100%;
    width: 1500px;
    margin: 0 auto;
}
#header
{
    background-color: #fff; 
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.02s);
    padding-right: 14px;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index:10 ;
}
.nav-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.nav-header-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header_item
{
    display: inline-block;
    list-style: none;
    padding: 5px 6px;
}
.logo-img
{
    display: block;
    width: 72px;
    height: 72px;
    background-size: cover;
    cursor: pointer;
}
#searh
{
    display: flex;
    justify-content: center;
    
}
.search
{
    border: 1px solid #9a9aa1;
    border-radius: 4px;
   padding: 6px 9px;
}
.search-icon
{
    font-size: 20px;
    color: #9a9aa1;
    line-height: 24px;
    white-space: none;
}
.input-search
{
    border: none;
    outline: none;
    color: #9a9aa1;
    font-size: 1rem;
    letter-spacing: 0.2px;
    white-space: none;
    min-width: 638px;
}
.btnsearch
{
    border: none;
    outline:none ;
    background-color: white;
    color: #166bff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2px;
    white-space: none;
    padding: 6px 8px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.btnsearch:hover
{
    background-color: #cee1ff;
    color: #054dc8;
    cursor: pointer;
}
.btnsearch::before
{
    border-left: 1px solid #1818c1; 
    width: 1px;
    height: 6px;
}
.expedient
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.expedient-entry
{
    padding: 0 9px;
    display: flex;
    align-items: center;
}
.home-link,
.crown-link,
.face-link
{
    text-decoration: none;
    padding: 6px;
    
}
.home-icon,
.crown-icon,
.face-icon
{
    display: inline-block !important;
    padding-right: 4px ;
}
.home-icon
{
    color:#0e69ff;
    font-size: 17px;
}
.home-text
{
    border: none;
    outline: none;
    /* background-color: #ffff; */
    letter-spacing: 0.2;
    white-space: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
}
.home
{
    transition: all 0.3s ease;
}
.home:hover 
{
    background-color: #e0ecff;
    border-radius:6px ;
    cursor: pointer;
}
.crown
.face
{
    transition: all 0.3s ease;
}
.crown-icon,
.face-icon
{
    color:#a0a0aa;
    font-size: 17px;
}
.crown-text,
.face-text
{
    letter-spacing: 0.2;
    white-space: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    color:#a0a0aa ;
}
.crown:hover,
.crown-text:hover,
.crown-icon:hover,
.face:hover , .face-text:hover,.face-icon:hover {

    background-color: #e4e4e5;
    cursor: pointer;
    border-radius: 6px;
    color:#fefdff ;
}
/* ------------------ */
/* khu vực giỏ hàng */
.Cart-area
{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.nav-border-left
{
    border-left: 1px solid #a0a0aa;
    min-height: 16px;
    margin-right: 22px;
}
.cart-icon
{
    font-size: 17px;
    color: #0c68ff;
    position: relative;
}
.cart-icon:hover
{
    cursor :pointer;
}
.cart-lable
{
    position: absolute;
    top:4px;
    right: 45px;
}
.cart-lable
{
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: red;
    color: white;
    padding: 2px 3px;
    font-size: 0.7rem;
    font-weight: 500;
}
#searh
{
    display: flex;
    flex-direction: column;
}
.nav-header-bottom-item
{
   display: inline-flex;
   justify-content: start;
   align-items: center;
   flex-direction: row;
}
.nav-header-bottom-item-text
{
    padding: 6px;
}
.nav-header-bottom-item-link
{
    text-decoration: none;
    color: #a0a0aa;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    white-space: none;
    transition: all 0.3s ease-in-out;
}
.nav-header-bottom-item-link:hover
{
    color: #bcbcc4;
}
#icon
{
    display: flex;
    flex-direction: column;
}
.nav-header-bottom-item-address
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.address
{
    display: flex;
    align-items: center;
}
#address-link
{
    margin-left: 5px;
}
.address-link
{
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.address-link:hover
{
    color: #9a9aa1;
    text-decoration: underline;

}
/* End of Header */
@media (max-width:1000px)
{
    #header
    {
        position: fixed;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, .18) -1px 0px 10px inset ;
        width: 600px;
    }
    .grid
    {
        width: 600px;
        margin: 0 auto;
        min-width: 100%;;
    }
    .logo
    {
        padding-right: 0 96px;
    }
    .nav-header-list
    {
        display: grid;
        grid-template-columns: 15% 75% 10%;
    }
    .input-search
    {
        min-width:250px;
    }
    .expedient-entry
    {
        display: none;
    }
    .nav-header-bottom-list,
    .nav-header-bottom-item-address
    {
        display: none;
    }
    .expedient
    {
        display: flex;
        flex-direction: column;
    }
    .cart-lable
    {
        right: 20px;
        top: 15px;
    }

}
.wappaper
{

    background-color: #f5f5fa;
}
#product
{
    padding-left: 12px;
    padding-top: 112px;
    display: grid;
    grid-template-columns: 20% 80%;
}
/* hình ảnh doanh mục sản phẩm  */

.Categories
{
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #fff;
    /* position: static; */
    /* width: 200px;
     */
}

.Categories-content-header
{
    padding: 4px 0 4px 30px;
}
.Categories-content-header-text 
{
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.25px;
    white-space: none;
}
.Categories-content-nav-text-list
{
    margin-right: 12px;
}
.Categories-content-nav-text-item
{
    list-style: none;
    margin: 12px;
    padding: 3px 0;
}
.Categories-content-nav-text-item
{

    border: 1px solid transparent;
    border-radius: 3px;
    padding-left: 6px;
    transition: all 0.3s ease-in;
}
.Categories-content-nav-text-item:hover
{
    background-color: #e5e5e6;
    cursor: pointer;
}
.Categories-content-nav-text-item-flex
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Categories-content-nav-text-item-flex-link
{
    text-decoration: none;
}
.Categories-content-nav-text-item-flex-img
{
    display: block !important ;
    height: 32px;
    width: 32px;
}
.Categories-content-nav-text-item-text
{
    margin-left: 12px;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    white-space: none;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
    color: #000;
}
.Categories-content-nav-text-item-text:hover
{
    cursor: pointer;
    color: #a39595;
}
/* .article-product
{
    border: 1px solid transparent;
    background-color: ;
} */
.article-zoom
{
     margin-left: 15px;
     background-color: #fff;
}
.article-zoom
{
    display: grid;
    grid-template-columns: 30% 70%;
    border: 1px solid transparent;
    /* padding: 0 5px; */
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 00.02s);
    padding: 10px 4px;
}
.banner-sale-pandemic-img
{
    width:305.73px;
    height:305.73px;
    border-radius: 6px;
}
.banner-sale-pandemic-img:hover
{
    cursor: pointer;
    opacity: 0.9;
}

.banner-sale-extra
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* gap: 20px 15px; */
}
.banner-sale-extra_img_image
{
    width: 146.07px;
    height: 146.07px;
    border-radius: 16px;
}
.banner-sale-extra_img_image:hover
{
    cursor: pointer;
    opacity: 0.9;
}
/* Phần chọn sản phẩm */
.tab-header
{
    border: 1px solid transparent;
    height: auto;
    margin-left: 16px;
    margin-top: 12px;
    border-radius: 6px;
    background-color: #fff;
}
.product-choose-menu-list
{
    display: flex;
    justify-self: start;
    align-items: center;
}
.product-choose-text_name
{
    font-size: 1.2rem;
    padding: 6px 0 6px 5px;
    color: #000;
    letter-spacing: 0.24px;
    white-space: none;
    line-height: 24px;
}
.product-choose-menu-item
{
    list-style: none;
    margin: 0 10px;
}
.product-choose-menu-text
{
    border:1px solid #e0e0e5;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    white-space: none;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
}
.product-choose-menu-text:hover
{
    background-color: #e4e4e5;
    cursor: pointer;
}
/* chọn sản phẩm */

.product-box
{
    border: 1px solid transparent;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* gap: 5px; */
}

.product-pro
{
    margin:6px 0 0 12px ;
    border: 1px solid rgb(235, 230, 230);
    width: 198px;
    border-radius: 6px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.product-pro:hover
{
    box-shadow: 3px 3px 6px 5px rgb(213, 211, 211);
    cursor: pointer;
}
.product-pro-img
{
    width: 174.73px;
    height: 174.73px;
}
.genuine-img
{
    width: 89px;
    height: 20px;
    background-size: cover;
}
.meta
{
    width: 174px;
}
.meta-text
{
    font-size: 0.9rem;
    line-height: 24px;
    color:#6f6f6f;
    font-weight: 400;
    line-height: 6px;
    letter-spacing: 0.25px;
    white-space: none;
    
}
.star-img
{
    width: 10px;
    height: 10px;
}
.border-bottom
{
    border-bottom: 1px solid black;
}
.brand
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-img
{
    width: 32px;
    height: 16px;
}
.brand-text
{
    font-size:12px ;
    color: #bcbcbc;

}
.tad
{
   display: none;
}
